<nav>
  <menu>
    <li><a href="{{ url_for('main.index') }}">Home</a></li>
    <li><a href="{{ url_for('main.about') }}">About</a></li>
    <li><a href="{{ url_for('main.food') }}"> List</a></li>
    <li><a href="{{ url_for('main.dictionary') }}">Dictionary</a></li>
    <li>
      <a href="{{ url_for('main.dictionary_nested') }}">Nested Dictionary</a>
    </li>
    <li><a href="{{ url_for('main.staffdata') }}">Staff Data</a></li>
    <li><a href="{{ url_for('main.json_filtered') }}">JSON Filtered</a></li>
    <li><a href="{{ url_for('main.json_dropdown') }}">JSON Dropdown</a></li>
    <li><a href="{{ url_for('main.db_data') }}">Database Example</a></li>
    <li><a href="{{ url_for('main.sign_up') }}">Sign Up</a></li>
  </menu>
</nav>
