/* Declare variables */

:root {
    --white-color: #f5f5f5;
    --primary-color: #96a4b4;
    --secondary-color: #FFC107;
}

html,
body {
    height: 100%;
    margin: 0; }


body {
    font-family: Arial, sans-serif;
    background-color: var(--white-color);
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.card{
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}
nav{
    background-color: var(--primary-color);
    margin-bottom: 2rem;
    padding:1rem 2rem;
}
nav> menu{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
nav > menu > li {
    display: inline;
}
nav > menu > li > a {
    color: var(--white-color);
    text-decoration: none;
    font-weight: bold;
}
nav > menu > li > a:hover {
    color: var(--secondary-color);
}
main {
    flex: 1;
    padding: 1rem;
    /* Pushes footer down */
}
form>div{
    margin-bottom: 1rem;
}
label {
    display: block;
    margin-bottom: 0rem;
    font-weight: bold;
}
footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    padding: 1rem;
}
/* Desktop rules */
@media (min-width: 800px) {
    .container {
        max-width: 1200px;
        padding: 1rem;
        margin: 0 auto;
    }
    nav{
        border-radius: 8px;
    }
    nav > menu {
        flex-direction: row;
        flex-wrap: wrap;
    }
    nav > menu > li {
        margin-right: 1rem;
    }
    footer{
        border-radius: 8px;
    }
}