<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <main>
        {% include 'partials/header.html' %}
        <!-- Header content goes here -->
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
      </main>
      {% include 'partials/footer.html' %}
      <!-- Footer content goes here -->
    </div>
  </body>
</html>
